{% load i18n %}
{% load account %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ทุเรียนภูเขาไฟ ศรีสะเกษ</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <style>
        .reset label {
            display: none;
        }
        input {
            background-color: #ecf0f6;
            border-color: #ecf0f6;
            border: 1px solid #c5ccd6;
            display: block;
            width: 100%;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem;
            border-radius: 0.35rem;
            /* padding-bottom: 1.5rem !important; */
        }
    </style>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                                <div class="card my-5">
                                    <div class="card-body p-5 text-center">
                                        <div class="h3 font-weight-light mb-4">ขอแก้ไข / ลืมรหัสผ่าน</div>
                                        {% if request.GET.device != 'mobile' %}
                                        <div class="small text-center"><a href="{% url 'home' %}">กลับสู่หน้าหลัก</a></div>
                                        {% endif %}
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body p-5">
                                        <div class="text-center small text-muted mb-4">
                                            {% if user.is_authenticated %}
                                            {% include "account/snippets/already_logged_in.html" %}
                                            {% endif %}
                                            {% if request.GET.device != 'mobile' %}
                                            <div class="mb-2">ในกรณีที่ท่านลืมรหัสผ่าน ให้ทำการยืนยันตัวตนด้วย email ที่ท่านใช้ลงทะเบียนเข้าสู่ระบบในครั้งแรก </div>
                                            <div>ระบบจะทำการส่ง email เพื่อยื่นยันคำขอของท่านอีกครั้ง</div>
                                            {% else %}
                                            <div class="mb-2">กรอกอีกเมล์ของท่านเพื่อยืนยันตัวตน และระบบจะทำการส่ง email เพื่อยื่นยันคำขอของท่านอีกครั้ง</div>
                                            {% endif %}
                                        </div>
                                        <!-- <form>
                                            <div class="form-group"><label class="text-gray-600 small" for="emailExample">Email address</label><input class="form-control form-control-solid py-4" type="text" placeholder="" aria-label="Email Address" aria-describedby="emailExample" /></div>
                                            <div class="form-group mb-0"><a class="btn btn-primary" href="login-social.html">Reset Password</a></div>
                                        </form> -->
                                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="text-gray-600 small" for="emailExample">อีเมลแอดเดรส</label>
                                                <div class="reset">
                                                    {{ form.as_p }}
                                                </div>
                                            </div>
                                            <div class="form-group mb-0">
                                                <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
                                            </div>
                                        </form>
                                    </div>
                                    <hr class="my-0" />
                                    {% if request.GET.device != 'mobile' %}
                                    <div class="card-body px-5 py-4">
                                        <div class="small text-center">ผู้ใช้ใหม่? <a href="{% url 'member-regis' %}">ลงทะเบียนเข้าใช้งานระบบ</a></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer mt-auto footer-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
