{% load custom_tags %}
{% load template_func %}

<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    <a class="navbar-brand d-none d-sm-block" href="{% url 'home' %}">ทุเรียนภูเขาไฟศรีสะเกษ</a><button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle" href="#"><i data-feather="menu"></i></button>
    <form class="form-inline mr-auto d-none d-lg-block" method="get" action="/store/list/">
        <input class="form-control form-control-solid mr-sm-2" name="q" type="search" placeholder="ค้นหาร้าน" aria-label="Search" />
    </form>
    <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown no-caret mr-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="shopping-cart"></i>
                <!-- Counter - Cart Item -->
                <span class="badge badge-danger badge-counter">{% cart_item_count %}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownMessages">
                <h6 class="dropdown-header dropdown-notifications-header"><i class="mr-2" data-feather="shopping-cart"></i>Items in shopping cart</h6>
                <a class="dropdown-item dropdown-notifications-item" href="#!">
                    <div class="dropdown-notifications-item-content">
                        <div class="dropdown-notifications-item-content-text">มีสินค้าทั้งหมดอยู่ {% cart_item_count_list %} รายการ</div>
                        <div class="dropdown-notifications-item-content-details">ตะกร้าสินค้าตลาดทุเรียนออนไลน์ จังหวัดศรีสะเกษ</div>
                    </div>
                </a>
                <a class="dropdown-item dropdown-notifications-footer text-dark" href="{% url 'cart-show' %}">แสดงสินค้าทั้งหมดในตระกร้า</a>
            </div>
        </li>
        <li class="nav-item dropdown no-caret mr-3 dropdown-user">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="user"></i></a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                {% if user.is_authenticated %}
                <h6 class="dropdown-header d-flex align-items-center">
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{user.first_name}} {{user.last_name}}</div>
                        <div class="dropdown-user-details-email">{{user.email}}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>

                <h6 class="dropdown-header d-flex align-items-center">
                    <div class="dropdown-user-details">
                        {% if request.user|has_group:"trader" %}
                        <div>สถานะ: ผู้ค้าทุเรียน</div>
                        {% elif request.user|has_group:"manager" %}
                        <div>สถานะ: ผู้ดูแลระบบ</div>
                        {% else %}
                        <div>สถานะ: ผู้ซื้อสิ้นค้า</div>
                        {% endif %}
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                {% if request.user|has_group:"trader" %}

                <a class="dropdown-item" href='{% url "store-front" %}'>
                    <div class="dropdown-item-icon"><i data-feather="edit"></i></div>
                    จัดการร้านค้า
                </a>
                <div class="dropdown-divider"></div>
                {% endif %}
                
                <a class="dropdown-item" href="{% url 'order-my' %}">
                    <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                    รายการสั่งซื้อของฉัน
                </a>

                <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                    บัญชีของฉัน
                </a>
                <a class="dropdown-item" href="{% url 'member-logout' %}">
                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                    ออกจากระบบ
                </a>
                {% else %}
                <a class="dropdown-item" href="{% url 'member-login' %}">
                    <div class="dropdown-item-icon"><i data-feather="log-in"></i></div>
                    เข้าสู่ระบบ
                </a>
                <a class="dropdown-item" href="{% url 'customer-regis' %}">
                    <div class="dropdown-item-icon"><i class="fa fa-registered"></i></div>
                    สมัครสมาชิก
                </a>
                <a class="dropdown-item" href="{% url 'member-regis' %}">
                    <div class="dropdown-item-icon"><i class="fa fa-registered"></i></div>
                    สร้างบัญชีผู้ประกอบการ
                </a>
                <a class="dropdown-item" href="{% url 'account_reset_password' %}">
                    <div class="dropdown-item-icon"><i data-feather="eye"></i></div>
                    ลืมรหัสผ่าน
                </a>
                {% endif %}
                
                {% if user.is_superuser or request.user|has_group:"manager" or request.user|has_group:"thailandpost" %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'admin:index' %}">
                    <div class="dropdown-item-icon"><i class="fa fa-cog"></i></div>
                    จัดการระบบ
                </a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>