{% extends 'base.html' %}
<!---->
{% block title %} {{title}} {%endblock%}
<!---->
{% block subtitle %} {{subtitle}} {% endblock %}
<!---->
{% block content %}
<div class="container-fluid mt-n10">
  <div class="card mb-4" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title mb-4">รายชื่อผู้ขึ้นทะเบียน</h5>
      <form class="mb-4">
        <div class="form-row align-items-center">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="name">ชื่อ หรือ สกุล</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="ค้นจากชื่อ หรือ สกุล" value="{{ search_name }}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="subdistrict">ตำบล</label>
            <div class="input-group">
              <input type="text" name="subdistrict" class="form-control" id="subdistrict" placeholder="ค้นจากตำบล" value="{{ search_subdistrict }}">
            </div>
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">อำเภอ</label>
            <div class="input-group">
                <select id="district" class="form-control" name="district">
                    <option {{ search_district_all }} value="all">อำเภอทั้งหมด</option>
                    <option {{ search_district_1 }} value="กันทรลักษ์">กันทรลักษ์</option>
                    <option {{ search_district_2 }} value="ขุนหาญ">ขุนหาญ</option>
                    <option {{ search_district_3 }} value="ศรีรัตนะ">ศรีรัตนะ</option>
                </select>
            </div>
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">ฐานะการใช้ตรา</label>
            <div class="input-group">
                <select id="type" class="form-control" name="type">
                    <option {{ search_type_all }} value="all">แสดงทั้งหมด</option>
                    <option {{ search_type_1 }} value="ผู้ผลิต">ผู้ผลิต</option>
                    <option {{ search_type_2 }} value="ผู้ประกอบการ">ผู้ประกอบการ</option>
                    <option {{ search_type_3 }} value="ผู้ผลิตและผู้ประกอบการ">ผู้ผลิตและผู้ประกอบการ</option>
                </select>
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">ค้นหา</button>
            <a class="btn btn-primary" href="{% url 'gi-list' %}" role="button">ยกเลิก</a>
          </div>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">คำนำหน้า</th>
            <th scope="col">ชื่อ - สกุล</th>
            <th scope="col">หมู่</th>
            <th scope="col">ตำบล</th>
            <th scope="col">อำเภอ</th>
            <th scope="col">ฐานะการใช้ตรา</th>
            <th scope="col">วันที่เริ่ม</th>
            <th scope="col">วันสิ้นสุด</th>
          </tr>
        </thead>
        <tbody>
          {% for list in page_obj %}
          <tr>
            <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
            <td>{{ list.prefix }}</td>
            <td>{{ list.first_name }} {{ list.last_name }}</td>
            <td>{{ list.moo }}</td>
            <td>{{ list.subdistrict }}</td>
            <td>{{ list.district }}</td>
            <td>{{ list.type }}</td>
            <td>{{ list.date_start }}</td>
            <td>{{ list.date_end }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!--Pagination-->
      <div class="container p-4">
        <div class="pagination justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}">previous</a></li>
              {% endif %} 

              <li class="page-item"><span class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span></span></li>
              
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}">next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode }}">last &raquo;</a></li>
              {% endif %} 

            </ul>
          </nav>
        </div>
      </div>
      <!--end of Pagination-->
    </div>
  </div>
</div>
{% endblock %}
