<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ทุเรียนภูเขาไฟ ศรีสะเกษ</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Prompt|Sarabun&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">สร้างบัญชีผู้ประกอบการ</h3></div>
                                    <div class="card-body">
                                        <form class="user" method="post" action="" oninput='password2.setCustomValidity(password2.value != password1.value ? "Passwords do not match." : "")'>
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputFirstName">ชื่อจริง</label><input class="form-control py-4" id="inputFirstName" type="text" placeholder="กรอกชื่อจริง" name="firstname" required /></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputLastName">นามสกุล</label><input class="form-control py-4" id="inputLastName" type="text" placeholder="กรอกนามสกุล" name="lastname" required /></div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputCitizenID">หมายเลขบัตร 13 หลัก</label><input class="form-control py-4" id="inputCitizenID" type="text" aria-describedby="emailHelp" placeholder="กรอกหมายเลขบัตร 13 หลัก" name="citizenid" maxlength="13" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputEmailAddress">อีเมล</label><input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="กรอกอีเมลแอดเดรส" name="email" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputPassword">รหัสผ่าน</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="กรอกรหัสผ่าน" name="password1" required /></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">รหัสผ่าน</label><input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="ยืนยันรหัสผ่านอีกครั้ง" name="password2" required /></div>
                                                </div>
                                            </div>
                                            
                                            <div class="dropdown-divider"></div>

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div>
                                                            <label class="small mb-1" for="inputPassword">สถานะ</label>
                                                        </div>
                                                        <select name="tradertype" id="tradertype" class="form-control">
                                                            <option value="เจ้าของสวน">เจ้าของสวน</option>
                                                            <option value="ผู้ค้าคนกลาง">ผู้ค้าคนกลาง</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputTraderName">ชื่อสวน/ชื่อร้าน</label><input class="form-control py-4" id="inputTraderName" type="text" aria-describedby="emailHelp" placeholder="กรอกชื่อสวน หรือชื่อร้าน ที่ต้องการให้ลูกค้ารับทราบ" name="tradername" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPhone">เบอร์โทรติดต่อ</label><input class="form-control py-4" id="inputPhone" type="text" aria-describedby="emailHelp" placeholder="กรอกเบอร์โทร สำหรับติดต่อลูกค้า" name="phone" required />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group mt-4 mb-0">
                                                <button class="btn btn-primary btn-user btn-block" type="submit">ยืนยันการสร้างบัญชี</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'member-login' %}">หากมีบัญชีผู้ประกอบการอยู่แล้ว? กลับไปหน้าเข้าสู่ระบบ</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                {% include 'footer.html' %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
